@charset "utf-8";
@import url("base.css");

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Times New Roman', Times, serif;
}

header {
  height: 648px;
  width: 100%;
  margin: 0 auto 100px;
}
.blind {
  display: none !important;
}

.header-wrap {
  width: 1116px;
  height: 648px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}


/*슬라이드 나머지 이미지 스크립트 for문을 이용해서 넣어보기*/
.slide p:nth-child(1) {
  width: 100%;
  height: 648px;
  background-image: url("../images/200820_video.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
.slide-box {
  width: 1116px;
  position: relative;
  margin: 0 auto;
}
.slide-video {
  display: block;
  width: 594px;
  height: 334px;
  position: absolute;
  top: -440px;
  right: 0;
}
.slide p:nth-child(1) video {
  width: 100%;
  height: 100%;
}

.s-menu {
  width: 100%;
  height: 58px;
}
.s-menu ul {
  float: right;
  margin-top: 30px;
  height: 20px;
  line-height: 20px;
}
.s-menu li {
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.s-menu span {
  margin: 5px;
  font-weight: 500;
  color:  #999
}
.s-menu select {
  width: 100px;
  height: 25px;
  text-align: center;
  border-radius: none;
  background-color: #999;
  color: none;
  border: none;
  outline: none;
}


.main-menu {
  width: 100%;
  background-color: #2c2a29;
  height: 47px;
}
.gnb>li {
  height: 47px;
  float: left;
  width: 150px;
  height: 100%;
  text-align: center;
  line-height: 47px;
  color: #d4b270;
}
.logo {
  width: 216px !important;
}
.lnb {
  display: none;
}
.lnb>li {
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: start;
  padding-left: 15px;
}
.lnb-bg {
  width: 1116px;
  height: 339px;
  background-image: url("../images/gnbBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -130px;
}
.lnb-rowHeight {
  line-height: 20px !important;
  text-align: start !important;
}
.click-dot {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 280px;
  justify-content: space-between;
}
.click-dot > a {
  display: block;
  width: 5px;
  height: 5px;
  border: 3px solid #999;
  border-radius: 50%;
}
.slide-btn_on {
  background-color: #d4b270;
  border: 3px solid #d4b270 !important;
}
.stop-btn {
  width: 10px;
  height: 11px;
  display: flex;
  justify-content: space-between;
}
.stop-btn span {
  display: block;
  height: 100%;
  width: 3px;
  background-color: #999
}


section {
  width: 1116px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
section>article {
  height: 100%;
}
section a {
  display: block;
}
.rantal {
  width: 240px;
  height: 100%;
  background-image: url("../images/sectionImage\(1\).jpg");
}
.sns a{
  width: 129px;
  height: 80px;
}
.sns a:nth-child(1) {
  background-image: url("../images/sectionImageSns\(1\).gif");
}
.sns a:nth-child(2) {
  background-image: url("../images/sectionImageSns\(2\).gif");
}
.sns a:nth-child(3) {
  background-image: url("../images/sectionImageSns\(3\).gif");
}
.sub-slide {
  width: 743px;
  height: 100%;
}
.sub-slide a{
  height: 100%;
}
.sub-slide a:nth-child(1) {
  background: url("../images/BannerImage\ \(5\).jpg") no-repeat center / cover;
}
.sub-slide a:nth-child(2) {
  background: url("../images/BannerImage\ \(4\).jpg") no-repeat center / cover;
}
.sub-slide a:nth-child(3) {
  background: url("../images/BannerImage\ \(3\).jpg") no-repeat center / cover;
}
.section-click-dot {
  position: absolute;
  bottom: 10px;
  left: 450px;
  transform: translateX(-50%);
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.section-click-dot > a {
  display: block;
  width: 5px;
  height: 5px;
  border: 3px solid #999;
  border-radius: 50%;
}



.rel {
  position: relative;
}
.abs {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.abs>h4 {
  font-size: 13px;
  font-weight: bold;
}
.abs>p {
  font-size: 16px;
  line-height: 28px;
}

.contents {
  width: 1116px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents>h2 {
  font-size: 28px;
  margin: 60px 0 10px 0;
}
.contents>h3 {
  font-size: 16px;
  margin-bottom: 30px;
}
.contents-box {
  display: flex;
  justify-content: space-between;
  width: 1116px;
  height: 606px;
  color: #fff;
}

.vertical {
  width: 743px;
  height: 606px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vertical>a {
  display: block;
  width: 743px;
  height: 200px;
  background: url("../images/contentsImg\(1\).jpg");
}
.horizontal, .horizontal-second {
  width: 743px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.horizontal>a, .horizontal-second>a {
  display: block;
  width: 370px;
  height: 200px;
}
.horizontal>a:first-child {
  background: url("../images/contentsImg\(2\).jpg");
}
.horizontal>a:last-child {
  background: url("../images/contentsImg\(3\).jpg");
}
.horizontal-second>a:first-child {
  background: url("../images/contentsImg\(4\).jpg");
}
.horizontal-second>a:last-child {
  background: url("../images/contentsImg\(5\).jpg");
}

.vertical-second {
  width: 370px;
  height: 606px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vertical-second>a{
  display: block;
  width: 370px;
  height: 403px;
  background: url("../images/contentsImg\(6\).jpg");
}
.vertical-second>div {
  display: block;
  width: 370px;
  height: 200px;
  background: url("../images/contentsImg\(7\).jpg");
  box-sizing: border-box;
  padding: 20px 20px;
  color: #333;
}
.notice-title {
  height: 30%;
  display: flex;
  justify-content: space-between;
}
.notice-title>h5 {
  font-weight: bold;
  font-size: 14px;
}
.notice-title>a {
  font-size: 12px;
}
.notice-num {
  font-size: 14px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notice-num a {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(211, 211, 211);
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.notice-num a>p:last-child {
  color: #999;
  font-size: 12px;
}


footer {
  margin-top: 70px;
  width: 100%;
  height: auto;
}
.footer-top {
  width: 100%;
  height: 195px;
  border-top: 1px solid #d4b270;
  background-color: fffefb;
}
.footer-top-box {
  width: 1120px;
  height: 195px;
  margin: 0 auto;
}
.fmenu {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.fmenu>li {
  width: 160px;
  height: 100%;
}
.fmenu>li ul {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.fmenu>li ul>li {
  line-height: 20px;
}